@page "/"
@using EveryoneReads.Backend
<PageTitle>Home | Everyone Reads </PageTitle>


<style>

    body {
        background: linear-gradient(320deg, rgba(155,234,255,1) 0%, rgba(101,61,255,1) 0%, rgba(162,139,255,1) 100%);
    }
</style>


<p class="text-left" style="margin-left:70px;margin-top:30px;font-family: Open Sans;font-style: normal;font-weight: bold;font-size: 50px;color:#FFF">Welcome to Everyone Reads</p>
<p class="text-left" style="margin-left:70px;margin-top:30px;font-family: Open Sans;font-style: normal;font-weight: normal;font-size: 30px;color:#FFF">
    Everyone Reads lets you find new books and buy previously
    loved books
</p>
<img src="Home_Reading.png" class="img-fluid" style="margin-top:10%;margin-left:50%" />