@page "/wishlist"

<h3 style="color:white">Wishlist</h3>


<style>

    body {
        background: linear-gradient(320deg, rgba(155,234,255,1) 0%, rgba(101,61,255,1) 0%, rgba(162,139,255,1) 100%);
    }
</style>



@code {

}
