<div class="top-row ps-3 navbar navbar-dark" style="height:75px;background-color:rgba(162,139,255,1);background-image:none">
    <div class="container-fluid">
        <a class="navbar-brand" href=""><span style="font-family:Roboto;font-style: normal;font-weight: bold;">Everyone <br />Reads</span>
            <img src="Main_Book.png" style="width:32px;height:auto"/>
        </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home text-white" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="search">
                <span  class="oi oi-magnifying-glass text-white" aria-hidden="true"></span> Search Books
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tradesell">
                <svg xmlns="http://www.w3.org/2000/svg" class="oi" style="fill:#fff" viewBox="2 0 55 40" aria-hidden="true">
		            <path d="M 23.75 41 C 23.91666603088379 41 24.10833358764648 40.95833206176758 24.32500076293945 40.875 C 24.54166793823242 40.79166793823242 24.71666717529297 40.68333435058594 24.85000038146973 40.54999923706055 L 41.70000076293945 23.64999961853027 C 42.13333511352539 23.21666717529297 42.45833587646484 22.72500038146973 42.67499923706055 22.17499923706055 C 42.89166641235352 21.625 43 21.0666675567627 43 20.5 C 43 19.9333324432373 42.89166641235352 19.36666679382324 42.67499923706055 18.79999923706055 C 42.45833206176758 18.23333168029785 42.13333129882812 17.73333168029785 41.70000076293945 17.29999923706055 L 32.70000076293945 8.299999237060547 C 32.26666641235352 7.866665840148926 31.76666641235352 7.541666030883789 31.20000076293945 7.324999332427979 C 30.63333320617676 7.108333110809326 30.0666675567627 7 29.5 7 C 28.9333324432373 7 28.375 7.108333110809326 27.82500076293945 7.324999809265137 C 27.27499961853027 7.541666507720947 26.78333282470703 7.866666793823242 26.35000038146973 8.300000190734863 L 25.45000076293945 9.199999809265137 L 29.5 13.29999923706055 C 29.9333324432373 13.7666654586792 30.31666564941406 14.3083324432373 30.64999961853027 14.92499923706055 C 30.98333358764648 15.54166603088379 31.14999961853027 16.21666526794434 31.14999961853027 16.94999885559082 C 31.14999961853027 18.21666526794434 30.65833282470703 19.33333206176758 29.67499923706055 20.29999923706055 C 28.69166564941406 21.26666641235352 27.56666564941406 21.75 26.29999923706055 21.75 C 25.46666526794434 21.75 24.77499961853027 21.625 24.22499847412109 21.375 C 23.67499923706055 21.125 23.16666603088379 20.76666641235352 22.70000076293945 20.29999923706055 L 19.05000114440918 16.64999961853027 L 10 25.70000076293945 C 9.833333015441895 25.86666679382324 9.716666221618652 26.04166793823242 9.649999618530273 26.22500038146973 C 9.583333015441895 26.40833282470703 9.549999237060547 26.60000038146973 9.549999237060547 26.80000114440918 C 9.549999237060547 27.23333358764648 9.691665649414062 27.59166717529297 9.97499942779541 27.87500190734863 C 10.25833320617676 28.15833473205566 10.61666584014893 28.30000114440918 11.04999923706055 28.30000114440918 C 11.24999904632568 28.30000114440918 11.44166564941406 28.25000190734863 11.62499904632568 28.15000152587891 C 11.8083324432373 28.05000114440918 11.96666526794434 27.93333435058594 12.09999942779541 27.80000114440918 L 19 20.90000152587891 L 21.10000038146973 23.00000190734863 L 14.25 29.85000228881836 C 14.08333301544189 30.01666831970215 13.96666622161865 30.20000267028809 13.89999961853027 30.40000152587891 C 13.83333301544189 30.60000038146973 13.79999923706055 30.80000114440918 13.79999923706055 31.00000190734863 C 13.79999923706055 31.40000152587891 13.94999885559082 31.75000190734863 14.24999904632568 32.05000305175781 C 14.54999923706055 32.35000228881836 14.89999866485596 32.50000381469727 15.29999923706055 32.50000381469727 C 15.49999904632568 32.50000381469727 15.69166564941406 32.45833587646484 15.87499904632568 32.37500381469727 C 16.0583324432373 32.29167175292969 16.21666526794434 32.1833381652832 16.34999847412109 32.05000305175781 L 23.24999809265137 25.15000343322754 L 25.34999847412109 27.25000381469727 L 18.49999809265137 34.10000228881836 C 18.36666488647461 34.23333740234375 18.25833129882812 34.4083366394043 18.17499732971191 34.62500381469727 C 18.0916633605957 34.84167098999023 18.04999732971191 35.05000305175781 18.04999732971191 35.25000381469727 C 18.04999732971191 35.65000152587891 18.19999694824219 36.00000381469727 18.49999809265137 36.30000305175781 C 18.79999923706055 36.60000228881836 19.14999771118164 36.75000381469727 19.54999732971191 36.75000381469727 C 19.74999618530273 36.75000381469727 19.93333053588867 36.71667098999023 20.09999656677246 36.65000534057617 C 20.26666259765625 36.58333969116211 20.43333053588867 36.4666748046875 20.59999656677246 36.30000686645508 L 27.49999618530273 29.4000072479248 L 29.59999656677246 31.50000762939453 L 22.69999694824219 38.40000915527344 C 22.5333309173584 38.56667709350586 22.41666412353516 38.75000762939453 22.34999656677246 38.95000839233398 C 22.28332901000977 39.15000915527344 22.24999618530273 39.33333969116211 22.24999618530273 39.50000762939453 C 22.24999618530273 39.9666748046875 22.38332939147949 40.33333969116211 22.64999580383301 40.60000610351562 C 22.91666221618652 40.86667251586914 23.28332901000977 41.00000762939453 23.74999618530273 41.00000762939453 Z M 23.75 44 C 22.64999961853027 44 21.66666603088379 43.59166717529297 20.79999923706055 42.77500152587891 C 19.9333324432373 41.95833587646484 19.41666603088379 40.95000076293945 19.25 39.75 C 18.11666679382324 39.58333206176758 17.16666603088379 39.11666488647461 16.39999961853027 38.34999847412109 C 15.63333320617676 37.58333206176758 15.16666698455811 36.63333129882812 15 35.5 C 13.86666679382324 35.33333206176758 12.92500019073486 34.85833358764648 12.17500019073486 34.07500076293945 C 11.42500019073486 33.29166793823242 10.96666717529297 32.35000228881836 10.80000019073486 31.25 C 9.566666603088379 31.08333396911621 8.550000190734863 30.58333396911621 7.75 29.75 C 6.950000286102295 28.91666603088379 6.550000190734863 27.91666603088379 6.550000190734863 26.75 C 6.550000190734863 26.1833324432373 6.658333301544189 25.61666679382324 6.875 25.04999923706055 C 7.091666698455811 24.48333168029785 7.416666507720947 23.98333168029785 7.849999904632568 23.54999923706055 L 19.04999923706055 12.34999942779541 L 24.54999923706055 17.84999847412109 C 24.81666564941406 18.11666488647461 25.10833168029785 18.32499885559082 25.42499923706055 18.47499847412109 C 25.74166679382324 18.62499809265137 26.04999923706055 18.69999885559082 26.34999847412109 18.69999885559082 C 26.7833309173584 18.69999885559082 27.19166564941406 18.50833129882812 27.57499885559082 18.12499809265137 C 27.95833206176758 17.74166488647461 28.14999961853027 17.33333015441895 28.14999961853027 16.89999771118164 C 28.14999961853027 16.69999885559082 28.09166717529297 16.47499847412109 27.97500038146973 16.22499847412109 C 27.85833358764648 15.97499847412109 27.66666793823242 15.71666526794434 27.39999961853027 15.44999885559082 L 20.25 8.300000190734863 C 19.8166675567627 7.866666793823242 19.3166675567627 7.541666984558105 18.75 7.325000286102295 C 18.1833324432373 7.108333587646484 17.61666679382324 7 17.04999923706055 7 C 16.48333168029785 7 15.92499923706055 7.108333110809326 15.37499904632568 7.324999809265137 C 14.82499885559082 7.541666507720947 14.33333206176758 7.866666316986084 13.89999866485596 8.300000190734863 L 6.299998760223389 15.89999961853027 C 5.833332061767578 16.36666679382324 5.508332252502441 16.85833358764648 5.32499885559082 17.375 C 5.141666412353516 17.89166641235352 5.033333301544189 18.46666717529297 5 19.10000038146973 C 4.966666698455811 19.76666641235352 5.091666698455811 20.40833282470703 5.375 21.02499961853027 C 5.658333301544189 21.64166641235352 6 22.19999885559082 6.400000095367432 22.70000076293945 L 4.25 24.85000038146973 C 3.583333253860474 24.11666679382324 3.041666746139526 23.23333358764648 2.625 22.20000076293945 C 2.208333253860474 21.16666603088379 2 20.11666679382324 2 19.04999923706055 C 2 18.04999923706055 2.191666603088379 17.09166526794434 2.575000047683716 16.17499923706055 C 2.958333492279053 15.25833225250244 3.5 14.44999980926514 4.199999809265137 13.75 L 11.75 6.199999809265137 C 12.48333358764648 5.466666698455811 13.31666660308838 4.924999713897705 14.25 4.574999809265137 C 15.18333339691162 4.224999904632568 16.13333320617676 4.049999713897705 17.10000038146973 4.049999713897705 C 18.0666675567627 4.049999713897705 19.00833511352539 4.224999904632568 19.92500114440918 4.574999809265137 C 20.84166717529297 4.924999713897705 21.66666603088379 5.466666698455811 22.39999961853027 6.199999809265137 L 23.29999923706055 7.099999904632568 L 24.19999885559082 6.199999809265137 C 24.9333324432373 5.466666698455811 25.76666641235352 4.924999713897705 26.69999885559082 4.574999809265137 C 27.63333129882812 4.224999904632568 28.58333206176758 4.049999713897705 29.54999923706055 4.049999713897705 C 30.51666641235352 4.049999713897705 31.45833396911621 4.224999904632568 32.375 4.574999809265137 C 33.29166793823242 4.924999713897705 34.11666488647461 5.466666698455811 34.84999847412109 6.199999809265137 L 43.79999923706055 15.14999961853027 C 44.53333282470703 15.88333320617676 45.08333206176758 16.71666717529297 45.45000076293945 17.64999961853027 C 45.81666564941406 18.58333206176758 46 19.53333282470703 46 20.5 C 46 21.46666717529297 45.81666564941406 22.40833473205566 45.45000076293945 23.32500076293945 C 45.08333587646484 24.24166679382324 44.53333282470703 25.0666675567627 43.79999923706055 25.79999923706055 L 26.95000076293945 42.65000152587891 C 26.51666831970215 43.08333587646484 26.02500152587891 43.41666793823242 25.47500038146973 43.65000152587891 C 24.92499923706055 43.88333511352539 24.35000038146973 44 23.75 44 Z M 18.85000038146973 16.70000076293945 Z">
		            </path>
	            </svg> Trade/Sell Books
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="library">
                <span  class="oi oi-book text-white" aria-hidden="true"></span> My Bookshelf
            </NavLink>
        </div>
        <style>

            .vl {
  border-left: 1px solid rgba(220,220,220,1);
  height: 100vh;
  position: absolute;
  flex-wrap: nowrap;
  margin-left: 250px;
  top: 0;
}

        </style>
       <div class="vl"></div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
